<!DOCTYPE html>
<html>

<head>
  <title>New Band</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap" rel="stylesheet">
  <!-- Materialize Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css" />
  <!-- JavaScript for Materialize -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper red">
                <a href="/" class="logo left">Band Aid</a>
                <ul class="right">
                    <li><a href="/bands">Bands</a></li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/">Members</a></li>
                </ul>
            </div>
        </nav>
    </div>
        <h1>Add Members to <%= bandId %></h1>
            <form id="new-member-form" action="/bands/<%= bandId %>/members" method="POST">
                 <div>
                     <label>Name:</label>
                         <input name="name" placeholder="Ex. First Last" required>
                         </div>
                            <div>
                                <label>Skills:</label>
                                <input name="skills" placeholder="Ex. Guitar, Drums, Piano" required>
                            </div>
                            <div>
                                <label>Phone Number:</label>
                                <input name="telephone" type="tel" id="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Ex. 404-123-4567" required>
                            </div>
                            <div>
                                <label>Email:</label>
                                <input name="email" placeholder="Ex. user@email.com">
                            </div>
                            <input type="submit" value="Add Member">
                     </form>
                </ul>
            </div>
        </nav>
    </div>