* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    background-image: url("");
    background-size: cover;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.logo {
    font-family: 'Fontdiner Swanky', cursive;
    padding-left: 20px;
    font-size: 28px;
}

footer {
    display: flex;
    color: white;
    height: 30px;
    width: 100%;
    font-weight: 400;
    font-size: medium;
    justify-content: right; 
    padding: 3px;
    text-shadow: 1px 1px 5px black;
}