
   <!DOCTYPE html>
   <html>
   
   <head>
     <title>Band Aid</title>
     <!-- Google Fonts -->
     <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap" rel="stylesheet">

     <!-- Materialize Icons -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

     <!-- Materialize CSS Framework -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

     <link rel="stylesheet" href="/css/style.css" />

     <!-- JavaScript for Materialize -->
     <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   </head>

   <body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper red">
                <a href="/" class="logo left">Band Aid</a>
                <ul class="right">
                  <li><a href="/">Home</a></li>
                  <li><a href="/bands/new">New Band</a></li>
                  <li><a href="/">Members</a></li>
                <li>
                  <% if(user) { %>
                    <a href="/logout"><i class="material-icons left">trending_flat</i>Logout</a>
                  <% } else { %>
                    <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login With Google</a>
                 <% } %>
                </li>
                </ul>
            </div>
        </nav>
    </div>
    <h1>Your Bands</h1>
      </form>
    <table id="list">
      <thead>
        <tr>
          <th>Band Name</th>
        </tr>
      </thead>
      <tbody>
        <% bands.forEach(function(band) { %>
        <tr>
          <td><%= band.name %></td>
          <td><a href="/bands/<%= band._id %>">See Who's in the Band</a></td>
          <td><a href="/bands/<%= band._id %>/members/new">Add Members</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
</body>
</html>