<!DOCTYPE html>
<html>

<head>
  <title>New Band</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap" rel="stylesheet">
  <!-- Materialize Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css" />
  <!-- JavaScript for Materialize -->
  <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>


<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper red">
                <a href="/" class="logo left">Band Aid</a>
                <ul class="right">
                    <li><a href="/bands">Bands</a></li>
                    <li><a href="/">Home</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <main>
        <div class="new-band-body">
            <h2>Let's Get Started</h2>
            <h3>Make a Name</h3>
        </div>
    <form id="new-band-form" action="/bands" method="POST">
<div>
    <label>Band Name:</label>
        <input type="text" name="name" required>
            </div>
        <div class="new-band-button">
            <input type="submit" value="Submit">
        </div>
    </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>